@mixin button-variant($color, $background) {
  background-color: $background;
  border: 0;
  color: $color;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: darken($background, 10%);
    color: $color;
  }

  &:active,
  &.active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.disabled {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  border-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
  padding: $padding-vertical $padding-horizontal;
}
