// Firasans Bold Italic, Extra Bold Italic, Semi Bold
// font-family: 'Fira Sans', sans-serif;

// Roboto Black, Bold, Medium
// font-family: 'Roboto', sans-serif;

// Open Sans Semi Bold
// font-family: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500,500i,700i|Open+Sans:400,600|Roboto:400,500,700,900');
