/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$logo-mobile-name: 'logo-mobile';
$logo-mobile-x: 0;
$logo-mobile-y: 94px;
$logo-mobile-offset-x: 0;
$logo-mobile-offset-y: -94px;
$logo-mobile-width: 84px;
$logo-mobile-height: 26px;
$logo-mobile-total-width: 174px;
$logo-mobile-total-height: 161px;
$logo-mobile-image: '../img/sprite.png';
$logo-mobile: (0, 94px, 0, -94px, 84px, 26px, 174px, 161px, '../img/sprite.png', 'logo-mobile');
$logo-name: 'logo';
$logo-x: 0;
$logo-y: 45px;
$logo-offset-x: 0;
$logo-offset-y: -45px;
$logo-width: 140px;
$logo-height: 44px;
$logo-total-width: 174px;
$logo-total-height: 161px;
$logo-image: '../img/sprite.png';
$logo: (0, 45px, 0, -45px, 140px, 44px, 174px, 161px, '../img/sprite.png', 'logo');
$payments-name: 'payments';
$payments-x: 0;
$payments-y: 0;
$payments-offset-x: 0;
$payments-offset-y: 0;
$payments-width: 174px;
$payments-height: 40px;
$payments-total-width: 174px;
$payments-total-height: 161px;
$payments-image: '../img/sprite.png';
$payments: (0, 0, 0, 0, 174px, 40px, 174px, 161px, '../img/sprite.png', 'payments');
$phone-red-name: 'phone-red';
$phone-red-x: 145px;
$phone-red-y: 45px;
$phone-red-offset-x: -145px;
$phone-red-offset-y: -45px;
$phone-red-width: 14px;
$phone-red-height: 14px;
$phone-red-total-width: 174px;
$phone-red-total-height: 161px;
$phone-red-image: '../img/sprite.png';
$phone-red: (145px, 45px, -145px, -45px, 14px, 14px, 174px, 161px, '../img/sprite.png', 'phone-red');
$phone-white-name: 'phone-white';
$phone-white-x: 145px;
$phone-white-y: 64px;
$phone-white-offset-x: -145px;
$phone-white-offset-y: -64px;
$phone-white-width: 14px;
$phone-white-height: 14px;
$phone-white-total-width: 174px;
$phone-white-total-height: 161px;
$phone-white-image: '../img/sprite.png';
$phone-white: (145px, 64px, -145px, -64px, 14px, 14px, 174px, 161px, '../img/sprite.png', 'phone-white');
$truck-yellow-name: 'truck-yellow';
$truck-yellow-x: 0;
$truck-yellow-y: 125px;
$truck-yellow-offset-x: 0;
$truck-yellow-offset-y: -125px;
$truck-yellow-width: 54px;
$truck-yellow-height: 36px;
$truck-yellow-total-width: 174px;
$truck-yellow-total-height: 161px;
$truck-yellow-image: '../img/sprite.png';
$truck-yellow: (0, 125px, 0, -125px, 54px, 36px, 174px, 161px, '../img/sprite.png', 'truck-yellow');
$logo-mobile-2x-name: 'logo-mobile@2x';
$logo-mobile-2x-x: 0;
$logo-mobile-2x-y: 188px;
$logo-mobile-2x-offset-x: 0;
$logo-mobile-2x-offset-y: -188px;
$logo-mobile-2x-width: 168px;
$logo-mobile-2x-height: 52px;
$logo-mobile-2x-total-width: 348px;
$logo-mobile-2x-total-height: 322px;
$logo-mobile-2x-image: '../img/sprite@2x.png';
$logo-mobile-2x: (0, 188px, 0, -188px, 168px, 52px, 348px, 322px, '../img/sprite@2x.png', 'logo-mobile@2x');
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0;
$logo-2x-y: 90px;
$logo-2x-offset-x: 0;
$logo-2x-offset-y: -90px;
$logo-2x-width: 280px;
$logo-2x-height: 88px;
$logo-2x-total-width: 348px;
$logo-2x-total-height: 322px;
$logo-2x-image: '../img/sprite@2x.png';
$logo-2x: (0, 90px, 0, -90px, 280px, 88px, 348px, 322px, '../img/sprite@2x.png', 'logo@2x');
$payments-2x-name: 'payments@2x';
$payments-2x-x: 0;
$payments-2x-y: 0;
$payments-2x-offset-x: 0;
$payments-2x-offset-y: 0;
$payments-2x-width: 348px;
$payments-2x-height: 80px;
$payments-2x-total-width: 348px;
$payments-2x-total-height: 322px;
$payments-2x-image: '../img/sprite@2x.png';
$payments-2x: (0, 0, 0, 0, 348px, 80px, 348px, 322px, '../img/sprite@2x.png', 'payments@2x');
$phone-red-2x-name: 'phone-red@2x';
$phone-red-2x-x: 290px;
$phone-red-2x-y: 90px;
$phone-red-2x-offset-x: -290px;
$phone-red-2x-offset-y: -90px;
$phone-red-2x-width: 28px;
$phone-red-2x-height: 28px;
$phone-red-2x-total-width: 348px;
$phone-red-2x-total-height: 322px;
$phone-red-2x-image: '../img/sprite@2x.png';
$phone-red-2x: (290px, 90px, -290px, -90px, 28px, 28px, 348px, 322px, '../img/sprite@2x.png', 'phone-red@2x');
$phone-white-2x-name: 'phone-white@2x';
$phone-white-2x-x: 290px;
$phone-white-2x-y: 128px;
$phone-white-2x-offset-x: -290px;
$phone-white-2x-offset-y: -128px;
$phone-white-2x-width: 28px;
$phone-white-2x-height: 28px;
$phone-white-2x-total-width: 348px;
$phone-white-2x-total-height: 322px;
$phone-white-2x-image: '../img/sprite@2x.png';
$phone-white-2x: (290px, 128px, -290px, -128px, 28px, 28px, 348px, 322px, '../img/sprite@2x.png', 'phone-white@2x');
$truck-yellow-2x-name: 'truck-yellow@2x';
$truck-yellow-2x-x: 0;
$truck-yellow-2x-y: 250px;
$truck-yellow-2x-offset-x: 0;
$truck-yellow-2x-offset-y: -250px;
$truck-yellow-2x-width: 108px;
$truck-yellow-2x-height: 72px;
$truck-yellow-2x-total-width: 348px;
$truck-yellow-2x-total-height: 322px;
$truck-yellow-2x-image: '../img/sprite@2x.png';
$truck-yellow-2x: (0, 250px, 0, -250px, 108px, 72px, 348px, 322px, '../img/sprite@2x.png', 'truck-yellow@2x');
$spritesheet-width: 174px;
$spritesheet-height: 161px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($logo-mobile, $logo, $payments, $phone-red, $phone-white, $truck-yellow);
$spritesheet: (174px, 161px, '../img/sprite.png', $spritesheet-sprites);
$retina-spritesheet-width: 348px;
$retina-spritesheet-height: 322px;
$retina-spritesheet-image: '../img/sprite@2x.png';
$retina-spritesheet-sprites: ($logo-mobile-2x, $logo-2x, $payments-2x, $phone-red-2x, $phone-white-2x, $truck-yellow-2x);
$retina-spritesheet: (348px, 322px, '../img/sprite@2x.png', $retina-spritesheet-sprites);

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$logo-mobile-group-name: 'logo-mobile';
$logo-mobile-group: ('logo-mobile', $logo-mobile, $logo-mobile-2x);
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x);
$payments-group-name: 'payments';
$payments-group: ('payments', $payments, $payments-2x);
$phone-red-group-name: 'phone-red';
$phone-red-group: ('phone-red', $phone-red, $phone-red-2x);
$phone-white-group-name: 'phone-white';
$phone-white-group: ('phone-white', $phone-white, $phone-white-2x);
$truck-yellow-group-name: 'truck-yellow';
$truck-yellow-group: ('truck-yellow', $truck-yellow, $truck-yellow-2x);
$retina-groups: ($logo-mobile-group, $logo-group, $payments-group, $phone-red-group, $phone-white-group, $truck-yellow-group);

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x);

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);

    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);

    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
