// scss-lint:disable SpaceAfterVariableName
// Sassy and Neat.
@import 'bourbon';
@import 'neat';

// Configuration
// --------------------------------------------------
$grid-columns                         : 12;
$max-width                            : 1088px;
$em-base                              : 14px;


// Devices
// --------------------------------------------------
$design-edge                          : new-breakpoint(max-width 966px 4);
$tablet                               : new-breakpoint(max-width 768px 4);
$mobile-large                         : new-breakpoint(max-width 640px 4);
$mobile                               : new-breakpoint(max-width 480px 4);
$mobile-small                         : new-breakpoint(max-width 320px 4);

$nav-break                            : new-breakpoint(max-width 695px 4);
$hero-break                           : new-breakpoint(max-width 1150px 4);


// Color Palette
// --------------------------------------------------
$alizarin-crimson                     : #de2034;
$alto                                 : #d0d0d0;
$chelsea-cucumber                     : #80b44c;
$concrete                             : #f2f2f2;
$dove-gray                            : #666;
$gold                                 : #ffd600;
$mercury                              : #e6e6e6;
$mine-shaft                           : #3d3d3d;
$nobel                                : #b3b3b3;
$silver-chalice                       : #aaa;
$thunder                              : #282627;
$white                                : #fff;
$wild-sand                            : #f4f4f4;

$alpha-white                          : rgba(255, 255, 255, 0.5);


// Text
// --------------------------------------------------
$font-primary                         : 'Open Sans', Helvetica, Arial, sans-serif;
$font-secondary                       : 'Fira Sans', sans-serif;
$font-tertiary                        : 'Roboto', sans-serif;
$font-code                            : Inconsolata, Menlo, Monaco, 'Bitstream Vera Sans Mono', 'Courier New', monospace;
$font-color                           : $dove-gray;
$color-title-hero                     : $nobel;
$color-anchor                         : $alizarin-crimson;
$color-anchor-hover                   : $dove-gray;
$font-size                            : $em-base;


// Footer
// --------------------------------------------------
$footer-height                        : rem(75);
$footer-margin                        : rem(25);
$footer-background                    : $wild-sand;

// Normalize
// --------------------------------------------------
// Support the same browsers as normalize.css v3.
$support-for: (
  ie:  9,  // IE 9-11
  '*': -4, // The last 4 versions of all other browsers.
);

// The font size set on the root html element.
$base-font-size                       : $em-base;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height                     : 24px;

// The length unit in which to output font size and margin values.
// Supported values: px, em, rem.
$base-unit                            : 'rem';

// px fallbacks for rem units are needed for IE 8 and earlier.
$rem-fallback                         : false;

// The default font family.
$base-font-family                     : $font-primary;

// The font sizes for h1-h6 expressed as tee shirt sizes.
$font-size: (
  xxl: 36px,
  xl:  32px,
  l:   24px,
  m:   $base-font-size,
  s:   14px,
  xs:  10px,
);

// The amount lists and blockquotes are indented.
$indent-amount                       : 40px;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
$normalize-vertical-rhythm           : false;

// Inputs
// --------------------------------------------------
$padding-base-vertical               : 10px;
$padding-base-horizontal             : 16px;
$border-radius-base                  : 4px;
$input-bg                            : #fff;
$input-border-radius                 : $border-radius-base;
$input-height-base                   : ($base-line-height + ($padding-base-vertical * 2) + 2);


@import 'normalize/import-now';
@import 'support/*';
@import 'views/shared/*';
@import 'objects/*';
@import 'views/*';
