.btn {
  display: inline-block;
  font-family: $font-primary;
  font-size: rem(14);
  font-weight: bold;
  margin: rem(17) 0 0;
  padding: rem(8) rem(17);

  &--green {
    @include button-variant($white, $chelsea-cucumber);
  }

  &--red {
    @include button-variant($white, $alizarin-crimson);
  }
}
