.icon {
  display: inline-block;
}

.icon-logo {
  @include retina-sprite($logo-group);
}

.icon-logo-mobile {
  @include retina-sprite($logo-mobile-group);
}

.icon-payments {
  @include retina-sprite($payments-group);
}

.icon-phone-red {
  @include retina-sprite($phone-red-group);
}

.icon-phone-white {
  @include retina-sprite($phone-white-group);
}

.icon-truck-yellow {
  @include retina-sprite($truck-yellow-group);
}
