.navicon {
  cursor: pointer;
  float: right;
  height: 30px;
  position: relative;
  text-decoration: none;
  text-indent: -9999em;
  width: 30px;

  span {
    top: 20px;

    &,
    &:before,
    &:after {
      @include transition(all 0.4s ease-in-out);
      background-color: $alizarin-crimson;
      display: block;
      height: 5px;
      left: 0;
      position: absolute;
      width: 30px;
    }

    &:before,
    &:after {
      content: '';
    }

    &:before {
      @include transform-origin(33% 100%);
      top: -10px;
      z-index: 10;
    }

    &:after {
      @include transform-origin(33% 0);
      top: 10px;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &:before {
        @include transform(translateY(6px) translateX(1px) rotate(45deg));
      }

      &:after {
        @include transform(translateY(-6px) translateX(1px) rotate(-45deg));
      }
    }
  }
}
