.preview-card {
  @include media ($mobile-large) {
    margin-bottom: rem(20);

    .preview-card__button {
      text-align: center;
    }
  }

  &__image {
    background-color: $nobel;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    height: rem(150);
    width: 100%;
  }

  &__title {
    font-size: rem(18);
    margin-bottom: rem(0);
  }

  &__text {
    margin-top: 0;
  }
}
