.side-box {
  font-family: $font-secondary;
  font-style: italic;
  height: rem(150);
  position: relative;
  text-transform: uppercase;

  &--toll-free {
    background-color: $gold;
    color: $thunder;
    font-size: rem(15);

    .icon {
      margin-right: rem(5);
      vertical-align: middle;
    }
  }

  &--quotation {
    background-color: $alizarin-crimson;
    color: $white;
    font-size: rem(22);
    z-index: 100;

    .icon {
      float: left;
      margin-right: rem(15);
    }

    &::after,
    &::before {
      border: solid transparent;
      content: " ";
      height: 0;
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
    }

    &::before {
      border-color: transparent;
      border-top-color: transparent;
      border-width: rem(22);
      margin-left: rem(-22);
    }

    &::after {
      border-color: transparent;
      border-top-color: $alizarin-crimson;
      border-width: rem(22);
      margin-left: rem(-22);
    }
  }

  &--payments {
    color: $dove-gray;
    font-family: $font-tertiary;
    font-size: rem(12);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-transform: initial;

    .icon {
      margin-bottom: rem(10);
    }
  }

  &__bold-red {
    color: $alizarin-crimson;
    font-size: rem(24);
    font-weight: 700;
    white-space: nowrap;
  }

  &__text {
    display: inline-block;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &--quotation {
      width: rem(245);
    }

    &--payments {
      text-align: center;
      width: rem(218);
    }
  }
}
