.side-form {
  background-color: $concrete;
  overflow: hidden;
  padding-top: rem(55);

  &__group {
    margin: 0 rem(30);
  }

  &__label {
    color: $dove-gray;
    display: block;
    font-family: $font-tertiary;
    font-size: rem(12);
  }

  &__control {
    border: 1px solid $alto;
    display: block;
    margin-bottom: rem(17);
    padding: rem(4);
    width: 100%;
  }

  &__textarea {
    resize: none;
  }

  &__disclaimer {
    font-family: $font-tertiary;
    font-size: rem(12);
    line-height: 1.4;
    margin-bottom: rem(17);
  }

  &--submit {
    text-transform: uppercase;
    width: 100%;
  }
}
