.slider {
  color: $alizarin-crimson;
  font-family: $font-tertiary;
  font-size: rem(30);
  font-weight: 900;
  height: rem(300);
  line-height: 1.05;
  margin-bottom: rem(25);
  position: relative;
  text-transform: uppercase;

  &__content {
    background-color: $alpha-white;
    display: inline-block;
    left: 41px;
    margin: 0;
    padding: rem(35) rem(43);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    @include media($mobile) {
      font-size: rem(22);
    }
  }

  &__pagers {
    text-align: center;

    &__item {
      background-color: $gold;
      border-radius: 50%;
      cursor: pointer;
      display: inline-block;
      height: rem(10);
      margin: 0 rem(2);
      width: rem(10);

      &.active {
        background-color: $alizarin-crimson;
      }
    }
  }
}
