.topnav {
  background-color: $gold;
  font-family: $font-tertiary;
  font-weight: 700;
  height: rem(41);
  line-height: rem(41);
  text-transform: uppercase;

  @include media ($nav-break) {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    min-height: em(50);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  &__header {
    @include span-columns(12);
    display: none;
    text-align: center;

    @include media ($nav-break) {
      display: block;
    }

    .icon {
      margin-top: rem(12);
    }
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    @include media ($nav-break) {
      border-top: 1px solid lighten($gold, 5%);
      display: none;
    }

    li {
      box-sizing: border-box;
      float: left;
      list-style-type: none;
      padding: 0 rem(9);

      @include media ($nav-break) {
        border-bottom: 1px solid darken($gold, 5%);
        border-top: 1px solid lighten($gold, 5%);
        display: block;
        width: 100%;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &__link {
    color: $mine-shaft;
    display: inline-block;
    text-decoration: none;

    @include media ($nav-break) {
      display: block;
      text-align: center;
    }

    &.selected,
    &:hover {
      color: $alizarin-crimson;
    }
  }
}
