html,
body {
  height: 100%;
}

body {
  background-color: $white;
  color: $font-color;
}

.wrapper {
  @include clearfix;
  margin-bottom: -$footer-height;
  min-height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    height: $footer-height;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  padding-left: rem(10);
  padding-right: rem(10);
}

.content-top-margin {
  margin-top: rem(25);
}

.row {
  @include row();
}

.clearfix {
  @include clearfix;
}

.main-content {
  @include span-columns(8);

  @include media($design-edge) {
    @include span-columns(4);
  }

  @include media ($nav-break) {
    padding-top: rem(50);
  }
}

.sidebar {
  @include span-columns(4);

  @include media($design-edge) {
    @include span-columns(4);

    margin-top: rem(30);
  }
}

.column-split-2 {
  @include span-columns(6);

  @include media ($mobile-large) {
    @include span-columns(4);
  }

  &:nth-child(2n) {
    @include omega();
  }
}

.responsive-image {
  display: block;
  height: auto;
  min-width: 100%;
}
