.footer {
  background-color: $footer-background;
  color: $silver-chalice;
  font-family: $font-tertiary;
  font-weight: 700;
  line-height: $footer-height;
  min-height: $footer-height;
  text-transform: uppercase;
}
