.header {
  background-color: $white;
  box-sizing: border-box;
  font-family: $font-secondary;
  font-style: italic;
  height: rem(117);

  @include media ($mobile-large) {
    display: none;
  }

  &__logo {
    @include span-columns(3);

    height: rem(117);
    overflow: hidden;
    position: relative;
  }

  &__slogan {
    @include span-columns(5);

    color: $nobel;
    font-size: rem(18);
    font-weight: 500;
    line-height: rem(117);
    text-transform: uppercase;

    @include media($design-edge) {
      display: none;
    }
  }

  &__phone {
    @include span-columns(4);

    font-size: rem(24);
    font-weight: 700;
    line-height: rem(117);
  }

  &__red-rounded {
    background-color: $alizarin-crimson;
    border-radius: rem(4);
    margin-right: rem(5);
    overflow: hidden;
    padding: rem(2) rem(6);
  }

  .icon-logo {
    display: inline-block;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 50%;
    transform: translate(0, -50%);
    white-space: nowrap;
  }
}
