h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

a {
  color: $alizarin-crimson;

  &:hover {
    color: $dove-gray;
  }
}

.title-primary {
  color: $alizarin-crimson;
  font-size: rem(36);
  font-weight: 500;

  &__main {
    margin-top: rem(15);
  }
}

.title-secondary {
  color: $alizarin-crimson;
  font-size: rem(32);
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
