.blog {
  &__card {
    border-bottom: 2px solid $mercury;
    margin-bottom: rem(30);

    &:last-child {
      border-bottom: 0;
    }

    &__title {
      color: $mine-shaft;
      font-family: $font-tertiary;
      font-size: rem(28);
      line-height: rem(30);
      text-decoration: none;
    }

    &__resume {
      margin-top: rem(10);
    }

    &__footer {
      margin-bottom: rem(30);
      text-align: right;
    }
  }

  &__image {
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    height: rem(350);
    margin-bottom: rem(20);

    @include media ($mobile-large) {
      height: rem(250);
    }
  }
}
