.contact-us {
  &__text {
    font-family: $font-tertiary;
    font-size: rem(18);
    font-weight: 500;
  }

  &__form {
    overflow: hidden;
    padding-top: rem(20);
  }

  &__group {
    margin-bottom: rem(23);
  }

  &__label {
    color: $dove-gray;
    display: block;
    font-family: $font-tertiary;
    font-weight: 500;
    margin-bottom: rem(5);
  }

  &__control {
    border: 1px solid transparent;
    border-bottom: 1px solid $alto;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px $white, 0 1px 0 $white;
    display: block;
    margin-bottom: rem(17);
    padding: rem(7) rem(5);
    width: 100%;
  }

  &__submit {
    font-size: rem(18);
    padding: rem(10) rem(25);
    text-transform: uppercase;
  }
}
