.faqs {
  &--item {
    border-bottom: 2px solid $mercury;
    margin-bottom: rem(30);
    overflow: hidden;
    padding-bottom: rem(47);

    &:last-child {
      border-bottom: 0;
    }
  }

  &--question {
    font-family: $font-tertiary;
    font-size: rem(18);
    margin-bottom: rem(2);
  }
}
