.home {
  background: linear-gradient(to bottom, $mine-shaft rem(541), $white rem(541)) no-repeat;

  @include media ($mobile-large) {
    background: $white;
  }

  &__services {
    margin-bottom: rem(90);
    overflow: hidden;
  }
}
