.moves {
  &__column-container {
    align-items: stretch;
    display: flex;

    @include media ($mobile-large) {
      display: block;
    }
  }

  &__column {
    border: 1px solid $mercury;
    font-family: $font-tertiary;

    &__header {
      background-color: $gold;
      border-bottom: 1px solid $mercury;
      color: $mine-shaft;
      font-size: rem(18);
      font-weight: 500;
      line-height: rem(48);
      text-align: center;
    }

    &__content {
      padding: 0 rem(16);
    }
  }

  &__advantages li {
    margin-bottom: rem(10);
  }
}
