.services {
  &--item {
    margin-bottom: rem(20);

    &--title {
      font-size: rem(18);
      font-weight: 500;
      margin-bottom: rem(5);
      text-transform: uppercase;
    }

    &--button {
      text-align: right;
    }
  }
}
