.vehicles {
  &__item {
    margin-bottom: rem(58);

    &__image {
      @include span-columns(4 of 12);

      background-color: $concrete;
      display: inline-block;
      height: rem(191);

      @include media ($mobile-large) {
        @include span-columns(4);
      }
    }

    &__title {
      font-size: rem(18);
      margin-bottom: rem(10);
    }

    &__content {
      @include shift(1 of 12);
      @include span-columns(7 of 12);

      display: inline-block;

      @include media ($mobile-large) {
        @include shift(0);
        @include span-columns(4);
      }
    }
  }
}
