@import url("https://fonts.googleapis.com/css?family=Fira+Sans:500,500i,700i|Open+Sans:400,600|Roboto:400,500,700,900");
@import url(/assets/vendor/sweetalert/sweetalert.css);
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-size: 87.5%;
  line-height: 1.71429em;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE <10.
 * Add the correct display in Edge, IE, and Firefox for `details` or `summary`.
 * Add the correct display in IE for `main`.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * Add the correct display in IE <10.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display and remove excess height in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE <11, Safari <8, and Firefox <22.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox <40.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font style in Android <4.4.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2rem;
  line-height: 3.42857rem;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 1.71429rem 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 3.42857rem;
  margin: 1.71429rem 0;
}

h3 {
  font-size: 1.17rem;
  line-height: 1.71429rem;
  margin: 1.71429rem 0;
}

h4 {
  font-size: 1rem;
  line-height: 1.71429rem;
  margin: 1.71429rem 0;
}

h5 {
  font-size: 0.83rem;
  line-height: 1.71429rem;
  margin: 1.71429rem 0;
}

h6 {
  font-size: 0.67rem;
  line-height: 1.71429rem;
  margin: 1.71429rem 0;
}

/**
 * Add the correct background and color in IE <10.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE <11.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.71429rem 40px;
}

/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.71429rem 0;
}

/**
 * Turn off margins on nested lists.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1.71429rem 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.71429rem 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from default to text.
 * - The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control font, padding, border, or background. In Chrome
 *   and Safari on Windows you can't control border properly. It will apply
 *   border-width but will only show a border color (which cannot be controlled)
 *   for the outer 1px of that border. Applying -webkit-appearance: textfield
 *   addresses these issues without removing the benefits of search inputs (e.g.
 *   showing past searches). Safari (but not Chrome) will clip the cancel button
 *   on when it has padding (and textfield appearance).
 */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 * 3. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 4. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE <11.
 * 2. Remove the padding in IE <11.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
   */
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 * 4. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */
}

/**
 * Restore the font weight unset by a previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x);

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/* Sweet alerts */
html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #666;
}

.wrapper {
  margin-bottom: -5.35714rem;
  min-height: 100%;
  overflow: hidden;
}
.wrapper::after {
  clear: both;
  content: "";
  display: block;
}
.wrapper::after {
  content: '';
  display: block;
  height: 5.35714rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1088px;
  padding-left: 0.71429rem;
  padding-right: 0.71429rem;
}

.content-top-margin {
  margin-top: 1.78571rem;
}

.row {
  display: block;
}
.row::after {
  clear: both;
  content: "";
  display: block;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.main-content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 966px) {
  .main-content {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .main-content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 695px) {
  .main-content {
    padding-top: 3.57143rem;
  }
}

.sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.sidebar:last-child {
  margin-right: 0;
}
@media screen and (max-width: 966px) {
  .sidebar {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    margin-top: 2.14286rem;
  }
  .sidebar:last-child {
    margin-right: 0;
  }
}

.column-split-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.column-split-2:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .column-split-2 {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .column-split-2:last-child {
    margin-right: 0;
  }
}
.column-split-2:nth-child(2n) {
  margin-right: 0;
}

.responsive-image {
  display: block;
  height: auto;
  min-width: 100%;
}

.footer {
  background-color: #f4f4f4;
  color: #aaa;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 5.35714rem;
  min-height: 5.35714rem;
  text-transform: uppercase;
}

.header {
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  height: 8.35714rem;
}
@media screen and (max-width: 640px) {
  .header {
    display: none;
  }
}
.header__logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 8.35714rem;
  overflow: hidden;
  position: relative;
}
.header__logo:last-child {
  margin-right: 0;
}
.header__slogan {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  color: #b3b3b3;
  font-size: 1.28571rem;
  font-weight: 500;
  line-height: 8.35714rem;
  text-transform: uppercase;
}
.header__slogan:last-child {
  margin-right: 0;
}
@media screen and (max-width: 966px) {
  .header__slogan {
    display: none;
  }
}
.header__phone {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  font-size: 1.71429rem;
  font-weight: 700;
  line-height: 8.35714rem;
}
.header__phone:last-child {
  margin-right: 0;
}
.header__red-rounded {
  background-color: #de2034;
  border-radius: 0.28571rem;
  margin-right: 0.35714rem;
  overflow: hidden;
  padding: 0.14286rem 0.42857rem;
}
.header .icon-logo {
  display: inline-block;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 50%;
  transform: translate(0, -50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

a {
  color: #de2034;
}
a:hover {
  color: #666;
}

.title-primary {
  color: #de2034;
  font-size: 2.57143rem;
  font-weight: 500;
}
.title-primary__main {
  margin-top: 1.07143rem;
}

.title-secondary {
  color: #de2034;
  font-size: 2.28571rem;
  font-weight: 500;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1.21429rem 0 0;
  padding: 0.57143rem 1.21429rem;
}
.btn--green {
  background-color: #80b44c;
  border: 0;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.btn--green:hover, .btn--green:focus, .btn--green.focus, .btn--green:active, .btn--green.active {
  background-color: #67903d;
  color: #fff;
}
.btn--green:active, .btn--green.active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn--green.disabled, .btn--green.disabled:hover, .btn--green.disabled:focus, .btn--green.disabled.focus, .btn--green.disabled:active, .btn--green.disabled.active {
  background-color: #80b44c;
}
.btn--red {
  background-color: #de2034;
  border: 0;
  color: #fff;
  outline: none;
  text-decoration: none;
}
.btn--red:hover, .btn--red:focus, .btn--red.focus, .btn--red:active, .btn--red.active {
  background-color: #b11a2a;
  color: #fff;
}
.btn--red:active, .btn--red.active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn--red.disabled, .btn--red.disabled:hover, .btn--red.disabled:focus, .btn--red.disabled.focus, .btn--red.disabled:active, .btn--red.disabled.active {
  background-color: #de2034;
}

.icon {
  display: inline-block;
}

.icon-logo {
  background-image: url(../img/sprite.png);
  background-position: 0 -45px;
  width: 140px;
  height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-logo {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.icon-logo-mobile {
  background-image: url(../img/sprite.png);
  background-position: 0 -94px;
  width: 84px;
  height: 26px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-logo-mobile {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.icon-payments {
  background-image: url(../img/sprite.png);
  background-position: 0 0;
  width: 174px;
  height: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-payments {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.icon-phone-red {
  background-image: url(../img/sprite.png);
  background-position: -145px -45px;
  width: 14px;
  height: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-phone-red {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.icon-phone-white {
  background-image: url(../img/sprite.png);
  background-position: -145px -64px;
  width: 14px;
  height: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-phone-white {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.icon-truck-yellow {
  background-image: url(../img/sprite.png);
  background-position: 0 -125px;
  width: 54px;
  height: 36px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-truck-yellow {
    background-image: url(../img/sprite@2x.png);
    background-size: 174px 161px;
  }
}

.navicon {
  cursor: pointer;
  float: right;
  height: 30px;
  position: relative;
  text-decoration: none;
  text-indent: -9999em;
  width: 30px;
}
.navicon span {
  top: 20px;
}
.navicon span, .navicon span:before, .navicon span:after {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #de2034;
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 30px;
}
.navicon span:before, .navicon span:after {
  content: '';
}
.navicon span:before {
  -webkit-transform-origin: 33% 100%;
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -o-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
.navicon span:after {
  -webkit-transform-origin: 33% 0;
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -o-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}
.navicon.active span {
  background-color: transparent;
}
.navicon.active span:before {
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -o-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
}
.navicon.active span:after {
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -o-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
}

@media screen and (max-width: 640px) {
  .preview-card {
    margin-bottom: 1.42857rem;
  }
  .preview-card .preview-card__button {
    text-align: center;
  }
}
.preview-card__image {
  background-color: #b3b3b3;
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 10.71429rem;
  width: 100%;
}
.preview-card__title {
  font-size: 1.28571rem;
  margin-bottom: 0rem;
}
.preview-card__text {
  margin-top: 0;
}

.section-hero {
  margin-bottom: 2rem;
  text-align: center;
}
.section-hero__image {
  display: inline-block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.side-box {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  height: 10.71429rem;
  position: relative;
  text-transform: uppercase;
}
.side-box--toll-free {
  background-color: #ffd600;
  color: #282627;
  font-size: 1.07143rem;
}
.side-box--toll-free .icon {
  margin-right: 0.35714rem;
  vertical-align: middle;
}
.side-box--quotation {
  background-color: #de2034;
  color: #fff;
  font-size: 1.57143rem;
  z-index: 100;
}
.side-box--quotation .icon {
  float: left;
  margin-right: 1.07143rem;
}
.side-box--quotation::after, .side-box--quotation::before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 100%;
  width: 0;
}
.side-box--quotation::before {
  border-color: transparent;
  border-top-color: transparent;
  border-width: 1.57143rem;
  margin-left: -1.57143rem;
}
.side-box--quotation::after {
  border-color: transparent;
  border-top-color: #de2034;
  border-width: 1.57143rem;
  margin-left: -1.57143rem;
}
.side-box--payments {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-size: 0.85714rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  text-transform: initial;
}
.side-box--payments .icon {
  margin-bottom: 0.71429rem;
}
.side-box__bold-red {
  color: #de2034;
  font-size: 1.71429rem;
  font-weight: 700;
  white-space: nowrap;
}
.side-box__text {
  display: inline-block;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.side-box__text--quotation {
  width: 17.5rem;
}
.side-box__text--payments {
  text-align: center;
  width: 15.57143rem;
}

.side-form {
  background-color: #f2f2f2;
  overflow: hidden;
  padding-top: 3.92857rem;
}
.side-form__group {
  margin: 0 2.14286rem;
}
.side-form__label {
  color: #666;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.85714rem;
}
.side-form__control {
  border: 1px solid #d0d0d0;
  display: block;
  margin-bottom: 1.21429rem;
  padding: 0.28571rem;
  width: 100%;
}
.side-form__textarea {
  resize: none;
}
.side-form__disclaimer {
  font-family: "Roboto", sans-serif;
  font-size: 0.85714rem;
  line-height: 1.4;
  margin-bottom: 1.21429rem;
}
.side-form--submit {
  text-transform: uppercase;
  width: 100%;
}

.slider {
  color: #de2034;
  font-family: "Roboto", sans-serif;
  font-size: 2.14286rem;
  font-weight: 900;
  height: 21.42857rem;
  line-height: 1.05;
  margin-bottom: 1.78571rem;
  position: relative;
  text-transform: uppercase;
}
.slider__content {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  left: 41px;
  margin: 0;
  padding: 2.5rem 3.07143rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width: 480px) {
  .slider__content {
    font-size: 1.57143rem;
  }
}
.slider__pagers {
  text-align: center;
}
.slider__pagers__item {
  background-color: #ffd600;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 0.71429rem;
  margin: 0 0.14286rem;
  width: 0.71429rem;
}
.slider__pagers__item.active {
  background-color: #de2034;
}

.topnav {
  background-color: #ffd600;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  height: 2.92857rem;
  line-height: 2.92857rem;
  text-transform: uppercase;
}
@media screen and (max-width: 695px) {
  .topnav {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    min-height: 3.57143em;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
}
.topnav__header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  display: none;
  text-align: center;
}
.topnav__header:last-child {
  margin-right: 0;
}
@media screen and (max-width: 695px) {
  .topnav__header {
    display: block;
  }
}
.topnav__header .icon {
  margin-top: 0.85714rem;
}
.topnav__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 695px) {
  .topnav__list {
    border-top: 1px solid #ffda1a;
    display: none;
  }
}
.topnav__list li {
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  padding: 0 0.64286rem;
}
@media screen and (max-width: 695px) {
  .topnav__list li {
    border-bottom: 1px solid #e6c100;
    border-top: 1px solid #ffda1a;
    display: block;
    width: 100%;
  }
  .topnav__list li:last-child {
    border-bottom: 0;
  }
}
.topnav__link {
  color: #3d3d3d;
  display: inline-block;
  text-decoration: none;
}
@media screen and (max-width: 695px) {
  .topnav__link {
    display: block;
    text-align: center;
  }
}
.topnav__link.selected, .topnav__link:hover {
  color: #de2034;
}

.blog__card {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 2.14286rem;
}
.blog__card:last-child {
  border-bottom: 0;
}
.blog__card__title {
  color: #3d3d3d;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2.14286rem;
  text-decoration: none;
}
.blog__card__resume {
  margin-top: 0.71429rem;
}
.blog__card__footer {
  margin-bottom: 2.14286rem;
  text-align: right;
}
.blog__image {
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 25rem;
  margin-bottom: 1.42857rem;
}
@media screen and (max-width: 640px) {
  .blog__image {
    height: 17.85714rem;
  }
}

.contact-us__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.28571rem;
  font-weight: 500;
}
.contact-us__form {
  overflow: hidden;
  padding-top: 1.42857rem;
}
.contact-us__group {
  margin-bottom: 1.64286rem;
}
.contact-us__label {
  color: #666;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0.35714rem;
}
.contact-us__control {
  border: 1px solid transparent;
  border-bottom: 1px solid #d0d0d0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  display: block;
  margin-bottom: 1.21429rem;
  padding: 0.5rem 0.35714rem;
  width: 100%;
}
.contact-us__submit {
  font-size: 1.28571rem;
  padding: 0.71429rem 1.78571rem;
  text-transform: uppercase;
}

.faqs--item {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 2.14286rem;
  overflow: hidden;
  padding-bottom: 3.35714rem;
}
.faqs--item:last-child {
  border-bottom: 0;
}
.faqs--question {
  font-family: "Roboto", sans-serif;
  font-size: 1.28571rem;
  margin-bottom: 0.14286rem;
}

.home {
  background: linear-gradient(to bottom, #3d3d3d 38.64286rem, #fff 38.64286rem) no-repeat;
}
@media screen and (max-width: 640px) {
  .home {
    background: #fff;
  }
}
.home__services {
  margin-bottom: 6.42857rem;
  overflow: hidden;
}

.moves__column-container {
  align-items: stretch;
  display: flex;
}
@media screen and (max-width: 640px) {
  .moves__column-container {
    display: block;
  }
}
.moves__column {
  border: 1px solid #e6e6e6;
  font-family: "Roboto", sans-serif;
}
.moves__column__header {
  background-color: #ffd600;
  border-bottom: 1px solid #e6e6e6;
  color: #3d3d3d;
  font-size: 1.28571rem;
  font-weight: 500;
  line-height: 3.42857rem;
  text-align: center;
}
.moves__column__content {
  padding: 0 1.14286rem;
}
.moves__advantages li {
  margin-bottom: 0.71429rem;
}

.services--item {
  margin-bottom: 1.42857rem;
}
.services--item--title {
  font-size: 1.28571rem;
  font-weight: 500;
  margin-bottom: 0.35714rem;
  text-transform: uppercase;
}
.services--item--button {
  text-align: right;
}

.vehicles__item {
  margin-bottom: 4.14286rem;
}
.vehicles__item__image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #f2f2f2;
  display: inline-block;
  height: 13.64286rem;
}
.vehicles__item__image:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .vehicles__item__image {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .vehicles__item__image:last-child {
    margin-right: 0;
  }
}
.vehicles__item__title {
  font-size: 1.28571rem;
  margin-bottom: 0.71429rem;
}
.vehicles__item__content {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  display: inline-block;
}
.vehicles__item__content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 640px) {
  .vehicles__item__content {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
  }
  .vehicles__item__content:last-child {
    margin-right: 0;
  }
}
